<!-- Footer Start -->
    <div class="container-fluid footer position-relative bg-dark text-white-50 py-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 pe-lg-5">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="display-5 text-primary mb-0"><i class="bi bi-scissors"></i>Salon</h1>
                    </a>
                    <p class="mt-4">Experience the ultimate beauty and wellness journey with our expert services. We're dedicated to making you look and feel your best.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Pokhara,Nepal</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>9846025702</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>9846856318</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>glamourtouch58@gmail.com</p>
                </div>
                <div class="col-lg-6 ps-lg-5">
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <h5 class="text-primary mb-4">Popular Links</h5>
                            <a class="btn btn-link" href="index.html">Home</a>
                            <a class="btn btn-link" href="about.html">About Us</a>
                            <a class="btn btn-link" href="service.html">Our Services</a>
                            <a class="btn btn-link" href="gallery.html">Gallery</a>
                            <a class="btn btn-link" href="contact.html">Contact Us</a>
                </div>
                
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start">
                        &copy; <a href="#">Glamour Touch</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->