{% load static %}

<div class="container-fluid bg-light sticky-top p-0">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
             <!-- LOGO -->
        <a href="{% url 'home' %}" class="navbar-brand bg-primary py-4 px-5 me-0">
            <h1 class="mb-0">
                <i class="bi bi-scissors"></i> Salon
            </h1>
        </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse p-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto overflow-auto">
                     <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'services' %}" class="nav-item nav-link">Services</a>
                    <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'appointments' %}" class="nav-item nav-link">Appointment</a>
                    <a href="products.html" class="nav-item nav-link">Products</a>
                    <a href="{% url 'login' %}" class="btn salon-btn-login me-2">
                        Login
                    </a>

                    <a href="{% url 'register' %}" class="btn salon-btn-register">
                        Register
                    </a>
                </div>
            </div>
        </nav>
    </div>