{% load static %}

<div class="container-fluid bg-light sticky-top p-0">
        <nav class="navbar navbar-expand-lg navbar-light p-0 salon-navbar">
             <!-- LOGO -->
        <a href="{% url 'home' %}" class="navbar-brand bg-primary py-4 px-5 me-0">
            <h1 class="mb-0">
                <i class="bi bi-scissors"></i> Salon
            </h1>
        </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse p-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto ">
                     <a href="{% url 'home' %}" class="nav-item nav-link d-flex align-items-center {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
                    <a href="{% url 'about' %}" class="nav-item d-flex align-items-center nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
                    <a href="{% url 'services' %}" class="nav-item d-flex align-items-center nav-link {% if request.resolver_match.url_name == 'services' %}active{% endif %}">Services</a>
                    <a href="{% url 'gallery' %}" class="nav-item d-flex align-items-center nav-link {% if request.resolver_match.url_name == 'gallery' %}active{% endif %}">Gallery</a>
                    <a href="{% url 'contact' %}" class="nav-item d-flex align-items-center nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a>
                    <a href="{% url 'appointments' %}" class="nav-item d-flex align-items-center nav-link {% if request.resolver_match.url_name == 'appointment' %}active{% endif %}">Appointment</a>
                    <a href="{% url 'products' %}" class="nav-item d-flex align-items-center nav-link {% if request.resolver_match.url_name == 'products' %}active{% endif %}">Products</a>
                </div>
                  <div class="d-flex">
                    <a href="{% url 'login' %}" class="btn me-2" style="background-color: #D4AF37; color: #000; font-weight: 600; border: none; padding: 0.5rem 1.5rem; border-radius: 50px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">Login</a>
                    <a href="{% url 'register' %}" class="btn" style="color: #D4AF37; border: 2px solid #D4AF37; font-weight: 600; padding: 0.5rem 1.5rem; border-radius: 50px;" onclick="localStorage.setItem('activeTab', 'register')">Register</a>
                </div>
            </div>
        </nav>
    </div>