{% extends 'base.html' %}
{% load static %}

{% block title %}Services - Glamour Touch{% endblock %}

{% block content %}
    
    <!-- Hero Start -->
    <div class="container-fluid bg-light page-header py-5 mb-5">
        <div class="container text-center py-5">
            <h1 class="display-1 animated slideInLeft">Our Services</h1>
            <nav aria-label="breadcrumb">
            </nav>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Service Start -->
    <div class="container-fluid service py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.1s">
            <h1 class="font-dancing-script text-primary">Our Services</h1>
        <h1 class="mb-5">Explore Our Services</h1>
            </div>
        <div class="row g-4 g-md-0 text-center">
            {% for service in services %}
                <div class="col-md-6 col-lg-4">
                    <div class="service-item h-100 p-4 border-bottom border-end wow fadeIn" data-wow-delay="0.1s">
                        {% if service.image %}
                        <img src="{{service.image.url}}" alt="{{service.name}}" >
                        {% endif %}
                        <h3 class="mb-3">{{service.name}}</h3>
                        <p class="mb-3">{{service.description}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- Service End -->

{% endblock %}